.dino-radio-container {
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;

    .dino-radio-input {
        //display: none;
        visibility: hidden;
    }

    .dino-radio-input + label {
        //background-color: #ff00ff;
        cursor: pointer;
    }

    .dino-radio-input + label img {
        
        border-radius: 50%;
        display: block;
        height: 150px;
        opacity: 47%;
        transition: height 0.2s ease-in 0s, opacity 0.2s ease-in 0s, width 0.2s ease-in 0s;
        width: 150px;
    }

    .dino-radio-input:checked + label img {
        border-color: #fafafa;
        border-style: solid;
        border-width: 2px;
        height: 175px;
        opacity: 100%;
        width: 175px;
    }
}