.dino-selection {
    color: #fafafa;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;

    #selected-dino-display {
        background-repeat: no-repeat;
        background-size: cover;
        
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotateY(180deg), rotateX(180deg);
        width: 50%;
        z-index: 10;
    }

    #dino-selection-panel {
        background: linear-gradient(135deg, #060009, #38004a);
        clip-path: polygon(0 0, 66% 0, 100% 100%, 0 100%);
        height: 100vh;
        left: 0;
        position: absolute;
        top:0;
        width: 76%;
        z-index: 30;

        h1 {
            margin-bottom: 88px;
            margin-left: 200px;
            text-align: left;
        }

        .dino-flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            width: 70%;
        }

        .selection-button-container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            width: 300px;

            input[type="button"] {
                background-color: #38aa38;
                border-radius: 8px;
                color: #fafafa;
                cursor: pointer;
                font-size: 2em;
                height: 60px;
                width: 300px;
            }
        }
    }
}