#dino-pen-container {
    color: #fafafa;

    #dino-pen-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        width: 80%;

        #dino-pen-flex {
            background-color: #ff0000;
            display: flex;
            width: 100%;
            transition: width 0.2s ease-in 0s;
        }
    
        #dino-detail-container {
            background-color: #00ff00;
            display: block;
            //height: 100vh;
            width: 0%;
            transition: width 0.2s ease-in 0s;
        }

        
    }

    #dino-pen-content.dino-detail-expanded {
        #dino-pen-flex {
            width: 49%;
        }

        #dino-detail-container {
            width: 49%;
        }
    }
    

    
}