#dino-pen-container {
    color: #fafafa;

    #dino-pen-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
        width: 80%;

        #dino-pen-flex {
            display: flex;
            flex-wrap: wrap;
            width: 49%;
            //transition: width 0.2s ease-in 0s;
        }
    
        #dino-detail-container {
            background-color: #0a4335;
            display: block;
            width: 49%;
            transition: width 0.2s ease-in 0s;
        }

        
    }
    
    .mini-dino-icon {
        cursor: pointer;
        margin-left: 20px;
        margin-right: 20px;
        width: 15%;
    
        img {
            width: 100%;
        }
    
        p {
            text-align: center;
        }
    }
    
}