.exp-bar-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    text-align:center;
    width: 80%;

    p {
        font-size: 1.2em;
        width: 10%;
    }

    .exp-bar-bar {
        background-color: #fafafa;
        border-radius: 8px;
        height: 24px;
        position: relative;
        width: 78%;
    
        .exp-bar-completion-bar {
            background-color: #38004a;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            height: 24px;
            left: 0;
            position: absolute;
            top: 0;
            width:: 68%;
        }
    }
}