@import "./Components/Home/home.scss";
@import "./Components/DinoPen/DinoPen.scss";
@import "./Components/DinoPen/DinoFeature.scss";
@import "./Components/DinoPen/ExpBar.scss";
@import "./Components/Leaderboard/Leaderboard.scss";
@import "./Components/Utility/DinosolTable.scss";
@import "./Components/DinoSelection/dinoSelection.scss";
@import "./Components/Dinosol/dinoRadio.scss";

@font-face {
    font-family: "Gilroy-Light";
    src: url("./Resources/font/Gilroy-Light.otf");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./Resources/font/Gilroy-ExtraBold.otf");
}

body {
    //font-family: "Share Tech Mono", monospace;
    font-family: "Gilroy-Light";
}

body,
html,
#root {
    height: 100% !important;
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    //background-color: #101921;
    //background-color: #22002e;
    background: linear-gradient(135deg, #060009, #38004a);
}

h2 {
    text-transform: uppercase;
    font-size: 32px;
}

h2,
h5 {
    margin: 0;
    cursor: default;
}

p {
    cursor: default;
}

h5 {
    font-size: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
}

.hide {
    opacity: 0;
}


/* #enemy-container .oval {
    top: 120px;
    left: -13px;
}

#hero-container .oval {
    top: 72px;
    left: -10px;
} */
.section-container {
    height: 100vh;
    position: relative;
    width: 100%;

    .back-button {

        background-color: transparent;
        border-color: #fafafa;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        color: #fafafa;
        cursor: pointer;
        left: 40px;
        padding-bottom: 6px;
        padding-left: 36px;
        padding-right: 36px;
        padding-top: 6px;
        position: absolute;
        top: 20px;
        transition: background-color 0.2s ease-in 0s, color 0.2s ease-in 0s;
    }

    .back-button:hover {
        background-color: #fafafa;
        color: #060009;

    }

    h1 {
        font-family: "Gilroy-Bold";
        font-size: 3.2em;
        text-align: center;
    }
}


#hero-container {
    /*overflow: hidden;*/
}

#hero-container .avatar-box {
    left: -7px;
    border: 5px solid #03E1FF;
    width: 210px;
    height: 210px;
}

#enemy-container .avatar-box {
    top: 0px;
    right: 7px;
    border: 5px solid #00FFA3;
    width: 210px;
    height: 210px;
}

#battle-container {
    width: 640px;
    height: 640px;
    outline: 5px double black;
    background-image: #101921;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#enemy-container {
    position: relative;
    top: 20px;
    display: flex;
    height: 200px;
    justify-content: space-between;
}

#enemy-info-box {
    background-color: white;
    width: 55%;
    height: 100px;
    border: 5px solid #00FFA3;
    padding: 5px;
    border-radius: 14px 7px 14px 7px;
    letter-spacing: -2px;
}

#hero-info-box {
    background-color: white;
    width: 100%;
    height: 100px;
    border: 5px solid #03E1FF;
    padding: 5px;
    border-radius: 14px 7px 14px 7px;
    letter-spacing: -2px;
}

.avatar-box {
    position: relative;
    z-index: 0;
}


/* .oval {
    width: 180px;
    height: 90px;
    background: #ccbaa1;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
} */

.both-progress {
    position: relative;
    width: 100%;
}

#hero-container {
    justify-content: space-between;
    position: relative;
    top: 120px;
    display: flex;
    height: 200px;
}

#hero-name,
#enemy-name {
    letter-spacing: -4px;
}

#text-box {
    background-color: #4b4f53;
    position: relative;
    top: 190px;
    height: 150px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#text-box-content {
    background-image: linear-gradient(45deg, #DC1FFF, #7F01D2);
    height: 130px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.attack-container {
    width: 50%;
    display: inline-block;
    height: 50%;
    line-height: 60px;
    text-align: center;
}

.move-pointer {
    cursor: pointer;
    padding: 2px 5px;
    font-size: 18px;
    color: white;
}

.battle-text-content {
    padding: 13px 13px 0px 13px;
    font-size: 18px;
    color: white;
    height: 80px;
}

.progress-bar {
    border-radius: 18px;
}

#play-again-text {
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .move-pointer:hover,
    #play-again-text:hover {
        color: #c9def8;
    }
}

.parallelogram {
    width: 75px;
    height: 50px;
    transform: skew(20deg);
}

.team-image {
    width: 70px;
    height: 45px;
}

.team-container {
    /* background-color: white; */
    width: 100%;
    height: 50px;
    /* border: 5px solid #03E1FF; */
    padding: 5px;
    /* border-radius: 14px 7px 14px 7px; */
    letter-spacing: -2px;
}

.hero-border {
    border: solid #03E1FF;
}

.enemy-border {
    border: solid #00FFA3;
}