.data-table {
    height: 100%;
    width: 100%;

    

    thead {
        border-bottom-color: #fafafa;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        th {
            padding: 6px;
        }
    }
    
    tbody {
        max-height: 80%;
        overflow-y: auto;

        .dinosol-row {
            td {
                padding: 6px;
            }
            
        }

        .dinosol-row:hover {
            //background-color: #290039;
            background-color: #010101;
        }

        tr {
            padding: 40px;
        }
    }
}